<html>
<head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
</head>

<body>
<!-- partial:index.partial.html -->
<!-- <div class="container"> -->
<!-- Content here -->
<!--  Navbar  -->
<nav class="navbar navbar-expand-lg top navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="https://i.imgur.com/piIQmkv.png" style="width:125px;height:125px;">


        <a class="navbar-brand"> .......................</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex" id="formRicerca">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>


            <div class="dropdown" aria-expanded="false">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"><img
                        src="https://i.imgur.com/UkDgEMg.png" style="width:20px;height:20px;"></button>
                <div class="dropdown-menu" style="width : 200px; max-height : 200px; overflow-y: scroll;">
                    <input class="form-control" id="myInput" type="text" placeholder="Cerca provincia..">
                    <div class="form-li">
                        <input type="radio" name="provincia" value="Inserisci provincia">
                        <label>Inserisci provincia</label>
                    </div>
                    <div th:each="provincia : ${province}">
                        <div class="form-li">
                            <input th:id="${provincia}" type="radio" name="provincia"
                                   th:value="${provincia}">
                            <label th:for="${provincia}" th:text="${provincia}"></label>
                        </div>
                    </div>
                </div>
            </div>

            <a class="navbar-brand"> ..............................</a>
            <ul class="navbar-nav collapse navbar-collapse">
                <li class="nav-item" style="width: 6rem;">
                    <a class="nav-link" aria-current="page" href="homepage.jsp">Home</a>
                </li>

                <li class="nav-item" style="width: 6rem;">
                    <a class="nav-link" href="listaannunci.jsp">Annunci</a>
                </li>

                <li class="nav-item" style="width: 6rem;">
                    <a class="nav-link" href="#ChiSiamo">Chi siamo?</a>
                </li>

            </ul>


            <a href="login.jsp" class="btn btn-outline-success">Login</a>


        </div>
    </div>
</nav>
</body>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".form-li").each(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</html>