<footer class="page-footer center-on-small-only navbar-dark bg-dark">

    <!--Footer Links-->
    <div class="container">
        <div class="row">

            <!--First column-->
            <div class="col-md-4">
                <h5 class="title mb-4 mt-3 font-bold">Just Traditions</h5>
                <img src="https://i.imgur.com/piIQmkv.png" style="width: 125px;">
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Second column-->
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold">Province</h5>
                <ul>
                    <li><a href="/ricercaAnnunci?nomeAttivita=&provincia=Milano">Milano</a></li>
                    <li><a href="/ricercaAnnunci?nomeAttivita=&provincia=Torino">Torino</a></li>
                    <li><a href="/ricercaAnnunci?nomeAttivita=&provincia=Napoli">Napoli</a></li>
                    <li><a href="/ricercaAnnunci?nomeAttivita=&provincia=Bari">Bari</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Third column-->
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold">Maggiori Informazioni</h5>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/visualizzazioneListaAnnunci">Annunci</a></li>
                    <li><a href="/chisiamo">Chi siamo?</a></li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Fourth column-->
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold ">Support</h5>
                <ul>
                    <li><a href="documentogit">Manuele Installazione</a></li>
                    <li><a href="documentogit">Manuale Utente</a></li>
                    <li><a href="mailto:justraditions@gmail.com">Inviaci una mail!</a></li>
                    <li><a href="/loginAmministratore">Area Staff</a></li>
                </ul>
            </div>
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <hr>


    <!--Copyright-->
    <div class="call-to-action">

        <div class="container-fluid">
            <p>©&nbsp;<strong>Copyright 2023 - Just Traditions</strong><br><strong>Tutti i diritti sono
                riservati ai
                corrispettivi proprietari.</strong><br><strong>Gerardo Brescia, Franco Cirillo, Giovanni Miele,
                Michele Spagnuolo, Lorenzo Sorrentino, Domenico Avella, Giuseppe Sgambato</strong><br><br></p>

        </div>
    </div>
    <!--/.Copyright-->

</footer>