<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">

<head>
    <th:block th:include="fragments/head"></th:block>
    <title>Just Traditions - Sottometti Annuncio</title>
</head>

<body>
<th:block th:include="fragments/navbar"></th:block>

<div class="row">
    <div class="card card-register mx-auto mt-5 col-md-8">
        <div class="card-header text-center">Pubblicazione Annuncio</div>
        <div class="card-body card-header" align="center">


            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <label for="nomeAttivita">Nome Attività:</label>
                            <input type="text" id="nomeAttivita" class="form-control" placeholder="Nome dell'attività"
                                   required="required" autofocus="autofocus">
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <label for="prezzoAttivita">Prezzo della visita:</label>
                            <input type="number" id="prezzoAttivita" step="0.01" class="form-control"
                                   placeholder="Inserisci il prezzo per la visita" required="required">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <label for="descAttivita">Inserisci descrizione:</label>
                            <textarea id="descAttivita" class="form-control" placeholder="Descrizione attività"
                                      required="required" autofocus="autofocus" rows="6"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <label id="fasciaoraria">Inserisci giorni e fasce orarie:</label>
                            <br>
                            <div class="container0">
                                <label id="lunedi">Lunedì</label>
                                <button class="add_form_field0"><i class="fa fa-plus-square"></i></button>
                                <br>
                            </div>
                            <div class="container1">
                                <label id="martedi">Martedì</label>
                                <button class="add_form_field1"><i class="fa fa-plus-square"></i></button>
                                <br>
                            </div>
                            <div class="container2">
                                <label id="mercoledi">Mercoledì</label>
                                <button class="add_form_field2"><i class="fa fa-plus-square"></i></button>
                                <br>
                            </div>
                            <div class="container3">
                                <label id="giovedi">Giovedì</label>
                                <button class="add_form_field3"><i class="fa fa-plus-square"></i></button>
                                <br>
                            </div>
                            <div class="container4">
                                <label id="venerdi">Venerdì</label>
                                <button class="add_form_field4"><i class="fa fa-plus-square"></i></button>
                                <br>
                            </div>
                            <div class="container5">
                                <label id="sabato">Sabato</label>
                                <button class="add_form_field5"><i class="fa fa-plus-square"></i></button>
                                <br>
                            </div>
                            <div class="container6">
                                <label id="domenica">Domenica</label>
                                <button class="add_form_field6"><i class="fa fa-plus-square"></i></button>
                                <br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <label for="indirizzo">Inserisci l'indirizzo:</label>
                            <input type="text" id="indirizzo" class="form-control" placeholder="Inserisci l'indirizzo"
                                   required="required" autofocus="autofocus">
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <label for="nMax">Numero massimo di persone:</label>
                            <input type="number" min="1" value="1" id="nMax" class="form-control"
                                   placeholder="Inserisci il numero max" required="required">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <label>Inserisci provincia</label>
                            <div>
                                <select>
                                    <option>Inserisci provincia:</option>
                                    <option th:each="provincia, iStat : ${@province.province}"
                                            th:for="|provincia${iStat.count}|" th:text="${provincia}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <label for="serviziAttivita">Servizi offerti:</label>
                            <input type="text" id="serviziAttivita" class="form-control"
                                   placeholder="Servizi offerti"
                                   required="required">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">


                            <div class="container7">
                                <label>Inserisci foto :</label>
                                <button class="add_form_field7"><i class="fa fa-plus-square"></i></button>
                                <br>
                                <input type="file" class="form-control-file">

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <br><br>
            <a class="btn btn-primary btn-block" href="sottomissione">Sottometti annuncio</a>
        </div>
    </div>
</div>
<th:block th:include="fragments/footbar"></th:block>
<th:block th:include="fragments/scripts"></th:block>
<script src="/js/navbar.js"></script>
<script src="/js/sottomettiannuncio.js"></script>
</body>
</html>

