<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="../css/profiloartigiano.css" th:href="@{/css/profiloartigiano.css}" />
    <th:block th:include="fragments/head"></th:block>
    <title>Just Traditions - Profilo Artigiano</title>
</head>
<body>

<th:block th:include="fragments/navbar"></th:block>

<br> <br>

<!-- Main -->
<main id="main" class="flexbox-col-start-center">

    <!-- Profile Page -->
    <div class="view-width">

        <!-- Profile Header -->
        <section class="profile-header">
            <div class="profile-header-inner flexbox">
                <div class="phi-info-wrapper flexbox">
                    <div class="phi-info-left flexbox">
                        <!-- Profile Picture -->
                        <div class="phi-profile-picture-wrapper">
                            <div class="phi-profile-picture-inner flexbox">
                                <img class="phi-profile-picture" src="https://images.unsplash.com/photo-1586156719269-d2f9faf80446?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" alt="">
                            </div>
                            <img class="phi-profile-picture-blur" src="https://images.unsplash.com/photo-1586156719269-d2f9faf80446?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" alt="">
                        </div>
                        <!-- Profile Username -->
                        <div class="phi-profile-username-wrapper flexbox-col-left">
                            <h2 class="phi-profile-username flexbox">Username</h2>
                            <p class="phi-profile-tagline">Something neat and funny!</p>
                        </div>
                    </div>
                </div>
                <!-- Profile Header Image -->
                <div class="profile-header-overlay"></div>
                <img class="profile-header-image" src="https://images.unsplash.com/photo-1616808943301-d80596eff29f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2010&q=80" alt="">
            </div>

        </section>

    </div>
    <section class="profile-page">
        <div>
            <div class="phi-info-right flexbox-right">
                <div>
                    <h3> Informazioni Personali</h3>
                    <p>Informazioni sull'artigiano da inserire</p>

                </div>
                <div class="annunci">
                    <center>
                        <div style = "float:left; margin-right:12em;">
                            <form action="VisualizzaAnnunci">
                                <button type="submit" class="button">Annunci</button>
                            </form>
                        </div>
                    </center>
                </div>
                <div>
                    <h3> I miei Contatti</h3>
                    <p> Email: da inserire</p>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
<th:block th:include="fragments/footbar"></th:block>
<th:block th:include="fragments/scripts"></th:block>
<script src="/js/navbar.js"></script>
</body>
</html>