<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
  <th:block th:include="fragments/head"></th:block>
  <title>Just Traditions - Chi siamo?</title>

</head>
<body>
<th:block th:include="fragments/navbar"></th:block>
<section class="container mt-4">
  <div class="card">
    <center><img style="width: 564px; height: 163px;" src="https://i.imgur.com/EPhDB1V.png"
                 class="card-img-top"></center>
  </div>
</section>
<!-- Section 2 -->
<section class="container mt-4">
  <div class="bg-light p-5 rounded-3">
    <div class="container-fluid">

      <p>
        Just Traditions si propone di disegnare un'idea di turismo innovativa, che ponga al centro dell’attenzione la User-Experience, permettendo ad artigiani e clienti di interfacciarsi in maniera semplice, immediata ed efficace.
        La piattaforma è stata creata per supportare tutte le piccole attività artigianali oscurate da mete turistiche più ambite e pubblicizzate, inoltre aiuterà i turisti che vogliono esplorare mete diverse da quelle usuali.
        A tale scopo, la piattaforma permette agli artigiani di registrarsi per poter pubblicare annunci riguardanti le proprie attività e poter fornire i propri servizi, in modo tale da pubblicizzarle e agevolare i turisti nella scoperta di queste ultime.
        Just Traditions si occupa di garantire la qualità degli annunci presenti sulla piattaforma, tramite l'approvazione di ciascun annuncio proposto, effettuata minuziosamente dagli amministratori del sistema.
        Just Traditions non si occupa direttamente di gestire la verifica delle attività proposte, piuttosto questo aspetto sarà demandato agli amministratori della piattaforma, che dovranno valutare caso per caso le metodologie più appropriate.
        Just Traditions, inoltre, è una piattaforma altamente fruibile. A tale scopo, per agevolare le ricerche degli utenti, è possibile restringere la ricerca degli annunci a quelli di una determinata provincia; in modo tale che ogni utente possa conoscere immediatamente le attività della propria zona.
      </p>

    </div>
  </div>
</section>

</div>
</body>
<th:block th:include="fragments/footbar"></th:block>
<th:block th:include="fragments/scripts"></th:block>
<script src="/js/navbar.js"></script>
</html>